* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
}

.browserbox {
    max-width: 100%;
}


/* Vector */

.rectangle {
    position: absolute;
    width: 451px;
    height: 27px;
    background: black;
}