* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'NimbusSanExtd';
    src: url(fonts/NimbusSanL-Bol.otf);
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSanRegular';
    src: url(fonts/Nimbus-Sans-D-OT-Regular-Extended.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSanExtdBlack';
    src: url(fonts/Nimbus-Sans-D-OT-Black-Extended_32740.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'NimbusSanRegularThin';
    src: url(fonts/NimbusSanL-Bol.otf);
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'NimbusSanRegular', sans-serif;
    padding-top: 24px;
    background-color: #E5E5E5;
}

.logo {
    font-family: 'NimbusSanExtdBlack';
    font-size: 40px;
}

body {
    background-color: #E5E5E5;
    background-image: url('photos/bg\ desktop\ vers.svg');
}

.navlinks {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style: none;
}

.navlinks :hover {
    color: #FF3D47;
}

a {
    text-decoration: none;
    color: black;
    cursor: hand;
}

.intro {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-bottom: 10%;
    display: block;
}

.hidden {
    display: none;
}

h1 {
    margin-top: 10%;
    font-family: 'NimbusSanExtd';
    font-size: 45px;
    line-height: 50px;
}

h2 {
    margin-top: 10px;
    font-family: 'NimbusSanRegular';
    font-weight: lighter;
    color: #404040;
}


/* Image Column */

.container {
    /* grid-template-columns: 1fr; */
    /* scroll-snap-type: y mandatory; */
    max-width: 70%;
    display: block;
    margin: auto;
}

.figure:hover .overlay {
    opacity: 1;
}

.figure {
    scroll-snap-align: center;
    position: relative;
    max-width: 100%;
    margin-bottom: 15%;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    opacity: .7;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    /* scroll-snap-align: start; */
}

.figure.viewscroll {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


/* #fig1,
#fig2,
#fig3 {
    height: 100%;
    width: 100%;
} */

.pics {
    display: block;
    height: 500px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.container .imageText {
    position: absolute;
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center
}


/* heading formatting is all good   */

h3 {
    font-family: 'NimbusSanExtdBlack';
    font-size: 30px;
}

h4 {
    font-family: 'NimbusSanRegular';
    font-size: 20px;
}


/* Social Media Footer */

.social-icons {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}

.logos {
    padding: 10px;
    max-width: 35px;
    max-height: 35px;
}

.yt {
    max-width: 33px;
}

.logos:hover {
    transform: scale(1.3);
    transition-duration: 0.2s;
}