        * {
            margin: 0;
            padding: 0;
        }
        
        @font-face {
            font-family: 'NimbusSanExtd';
            src: url(fonts/NimbusSanExt-Bol.otf);
            font-style: normal;
        }
        
        @font-face {
            font-family: 'NimbusSanRegular';
            src: url(fonts/Nimbus-Sans-D-OT-Regular-Extended.ttf);
            font-style: normal;
        }
        
        @font-face {
            font-family: 'NimbusSanExtdBlack';
            src: url(fonts/Nimbus-Sans-D-OT-Black-Extended_32740.ttf);
            font-style: normal;
        }
        
        @font-face {
            font-family: 'NimbusSanRegularThin';
            src: url(fonts/NimbusSanL-Bol.otf);
            font-style: normal;
        }
        
        @font-face {
            font-family: 'Telophone';
            src: url(fonts/telopone.ttf);
            font-style: normal;
        }
        
        @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 8vh;
            font-family: 'NimbusSanRegular', sans-serif;
            padding-top: 24px;
            background-color: #E5E5E5;
        }
        
        .logo {
            font-family: 'NimbusSanExtdBlack';
            font-size: 40px;
        }
        
        body {
            background-color: #E5E5E5;
        }
        
        .navlinks {
            display: flex;
            justify-content: space-around;
            width: 35%;
            list-style: none;
        }
        
        .navlinks :hover {
            color: #FF3D47;
        }
        
        a {
            text-decoration: none;
            color: black;
            cursor: hand;
        }
        /* header image */
        
        .container {
            position: relative;
            width: 100%;
            max-height: 400px;
            background-color: black;
            margin-right: auto;
            margin-left: auto;
        }
        
        .header-image {
            object-fit: cover;
            width: 100%;
            max-height: 400px;
            /* filter: brightness(70%); */
        }
        
        .header-text {
            display: block;
            color: black;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }
        
        h1 {
            text-align: center;
            font-family: 'NimbusSanExtdBlack';
            font-size: 30px;
        }
        
        p {
            padding-top: 10px;
            text-align: center;
            font-family: 'NimbusSanRegular';
            font-size: 20px;
        }
        /* Prompt Section */
        
        .prompt {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 80%;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        
        .prompt_row1 {
            display: inline-block;
            padding-bottom: 50px;
            line-height: 30px;
        }
        
        .rowright {
            text-align: right;
            float: right;
        }
        
        .rowleft {
            float: left;
            text-align: left;
            width: 50%;
        }
        
        h2 {
            font-size: 24px;
            padding-bottom: 15px;
            font-family: NimbusSanExtd;
        }
        
        p1 {
            font-family: NimbusSanRegular;
            font-weight: light;
            font-size: 16px;
        }
        /* block */
        
        .block {
            display: block;
            max-width: 100%;
            background-color: #CED7FF;
            min-height: 30em;
            position: relative;
        }
        
        .block_content {
            display: flex;
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        
        .blocktext {
            line-height: 30px;
        }
        
        .smallerText {
            list-style: none;
        }
        
        h3 {
            font-size: 200px;
            font-family: NimbusSanExtdBlack;
            color: white;
            padding-right: 10px;
            padding-left: 10px;
        }
        
        h4 {
            font-size: 30px;
            font-family: NimbusSanExtdBlack;
            padding-bottom: 20px;
        }
        
        p2 {
            font-family: NimbusSanRegular;
            font-weight: light;
            font-size: 16px;
        }
        /* general content block */
        
        .general_block {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
            position: relative;
        }
        
        .content-text {
            line-height: 30px;
            width: 40%;
            margin-left: 10%;
            margin-right: 10%;
        }
        
        .content-image {
            width: 60%;
            margin-right: auto;
            margin-left: auto;
            padding-top: 100px;
            display: flex;
        }
        
        .block_image {
            width: 100%;
        }
        
        #pDescript {
            padding-top: 100px;
        }
        
        .images-flex {
            display: flex;
            flex-direction: row;
            width: 70%;
            margin-right: auto;
            margin-left: auto;
            justify-content: space-between;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .table {
            width: 30%;
        }
        
        #longDescript {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        /* side by side blocks */
        
        .flex-content {
            display: flex;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            justify-content: space-evenly;
        }
        
        .left-text {
            width: 30%;
            padding-top: 15em;
            /* padding-top: 25%; */
        }
        
        .rightImage {
            width: 40%;
        }
        
        .ambient {
            width: 100%;
        }
        /* Journey Block */
        
        .journey {
            display: block;
        }
        
        .journey-text {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        /* Social Media Footer */
        
        .social-icons {
            display: block;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            margin-bottom: 10px;
        }
        
        .logos {
            padding: 10px;
            max-width: 35px;
            max-height: 35px;
        }
        
        .yt {
            max-width: 33px;
        }
        
        .logos:hover {
            transform: scale(1.3);
            transition-duration: 0.2s;
        }
        
        @media only screen and (max-width: 1000px) {
            .left-text {
                padding-top: 8em;
            }
        }
        
        @media only screen and (max-width: 800px) {
            h1 {
                font-size: 25px;
            }
            p {
                font-size: 16px;
            }
            h2 {
                font-size: 20px;
            }
            p1 {
                font-size: 12px;
            }
            .block {
                height: 40em;
            }
            h3 {
                font-size: 150px;
            }
            h4 {
                font-size: 20px;
            }
            p2 {
                font-family: NimbusSanRegular;
                font-weight: light;
                font-size: 12px;
            }
            .left-text {
                padding-top: 8em;
            }
        }
        
        @media only screen and (max-width: 600px) {
            .block_content {
                display: block;
                width: 80%;
            }
            .number {
                text-align: center;
            }
            h3 {
                font-size: 100px;
            }
            .left-text {
                padding-top: 5%;
            }
        }